
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Posts</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Data</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mhs : ${mahasiswa}">
                    <td th:text="${mhs.id}"></td>
                    <td th:text="${mhs.username}"></td>
                    <td th:text="${mhs.name}"></td>
                    <td th:text="${mhs.joinDate}"></td>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${mhs.id})}">Edit</a>
                            <a class="delete btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${mhs.id})}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" th:href="@{/add/}">Add</a>
    </div>
</div>
</body>
</html>